.vscode
settings.json
meraki_api__log__*
vpn_stats.py
network_names_to_update.txt
serials.txt
mx_backup.txt
labcorp_production*
covance*
Meraki_SSID_and_Firewall_Rule_Creation.py
meraki_rcm_template_updates.py